<div
  style="text-align: center; font-weight: bold; font-size: 30px; padding: 20px"
>
  <h1>List of Poll Questions</h1>
  <div > 
    <button class="btn btn-link" (click)="addQuestions()" style="color: black; float: right;">
      <em style="font-size: 21px" class="fa">&#xf067;</em>
    </button>
  </div>
  <div class="tbl-content">
    <table>
      <thead class="tbl-header">
        <tr>
          <th>#</th>
          <th>Question</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let question of questions; let i = index">
          <td>{{i+1}}</td>
          <td>{{ question.question }}</td>
          <td>
            <button
              class="btn btn-link"
              style="color: rgb(44, 115, 237)"
              (click)="update(question.pollQuestionId)"
            >
              <em style="font-size: 20px" class="fa">&#xf040;</em></button
            >&nbsp;&nbsp;
            <button
              class="btn btn-link"
              style="color: RED"
              (click)="delete(question.pollQuestionId)"
            >
              <em style="font-size: 20px" class="fa">&#xf014;</em>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
