<div style="text-align: center;font-weight: bold;font-size: 30px">Ballot Form</div>
<form [formGroup]="balletform"
      class="ballotForm"
      name="form"
      (ngSubmit)="onSubmit()">
  <div>
    <label for="title" class="col-sm-2 col-form-label">Title</label>
    <input class="col-sm-10" type="text" name="title" formControlName="title" />
  </div>
  <br>
  <div>
    <label for="description" class="col-sm-2 col-form-label">Description</label>
    <textarea class="col-sm-10" name="description" formControlName="description"></textarea>
  </div>
  <div>
    <label for="startDate" class="col-sm-2 col-form-label">Start Date</label>
    <input class="col-sm-10" type="date" name="startDate" formControlName="startDate" />
  </div>
  <div>
    <label for="endDate" class="col-sm-2 col-form-label">End Date</label>
    <input class="col-sm-10" type="date" name="endDate" formControlName="endDate" />
  </div>

  <div class="ballotComponentButton">
    <div class="form-group">
      <button class="btn btn-secondary btn-block ballotButton" (click)="onClear($event)">
        Clear
      </button>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block ballotButton" (click)="onSubmit()">
        Submit
      </button>
    </div>
  </div>
  <div class="form-group">
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="f.submitted && isPollCreationFailed"
    >
      Poll creation failed: {{ errorMessage }}
    </div>
  </div>
</form>

