<section class="download" id="download">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center wp4">
        <div class="mainMenuChoice">
          <div class="menuItem" (click)="viewPolls()">
            <div>View Polls</div>
            <img src="../../assets/pollIcon.png" width="400" height="400" alt="ViewPollsImage" />
          </div>
          <div class="menuItem" (click)="createBallot()">
            <div>Create Poll</div>
            <img src="../../assets//ballotIcon.png" width="400" height="400" alt="CreateBallotImage" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
