<form [formGroup]="modifyQuestionForm">
  <label for="username">Question</label>
  <textarea
    name="question"
    formControlName="question"
    rows="5"
    cols="60"
  ></textarea>
  <br />
  <div formArrayName="options">
    Options
    <ng-template
      ngFor
      let-opt
      [ngForOf]="modifyQuestionForm['controls'].options['controls']"
      let-index="index"
    >
      <div [formGroupName]="index">
        <input
          type="text"
          class="form-control"
          formControlName="option"
          name="option"
        />
        <div style="padding-top: 10px; padding-left: 15px">
          Select "Yes" if correct.
          <input
            type="radio"
            formControlName="correct"
            [value]="true"
            id="compliance-yes"
          />
          Yes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input
            type="radio"
            formControlName="correct"
            [value]="false"
            id="compliance-no"
          />
          No
        </div>
      </div>
      <br />
    </ng-template>
  </div>
</form>
