<div class="container">
  <header class="jumbotron" style="background-color: transparent">
    <p class="title">
      <strong>
        Welcome to Electronic Voting
      </strong>
      Paper voting huh ?
  Make use of our system and conduct an electronic voting. It's easier, less time consuming and more relaiable. We use all the standards that are followed in paper voting along with added features.
You can save time and cost by voting independently from your location itself.
E-Voting is very cost effective too!
    </p>
  </header>
</div>